<!DOCTYPE html>
<html lang="en-US">
   <head>
      
      <title>Customer View</title>
      <link rel="stylesheet" href="/static/styles/customerStyle.css" title = "link for customer page stylesheet" aria-label = "link for customer page stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" title = "javascript customer" aria-label = "javascript customer"></script>
   </head>
   <body class = b>

      <!-- translation -->
      <div id="google_translate_element"></div>

      <script type="text/javascript" title = "google translate styling for customer page" aria-label = "google translate styling for customer page">
      function googleTranslateElementInit() {
         new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
      </script>
      
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" title = "google translate for customer page" aria-label = "google translate for customer page"></script>
      <a title = "back to home page logo from customer page" aria-label = "back to home page logo from customer page" href="{{ url_for('home')}}"><img class = "pic_logo" alt = "smoothie king logo" src="/static/pictures/smoothie_king_logo.png"> </a>
      <h1 class = "MenuItems">Menu Items</h1> 
      
      <form aria-label ="order smoothie from customer page" label = "order_smoothie" method="post" action="/orderviewcustomer">
         <div class = "mainStuff">
            {%for row in data %}
               <div class = "inLoop">
                  <div class = "beforeInfo">
                     <img class = "pic" alt = "picture of smoothie {{row[0]}}" src="/static/pictures/{{row[0].lower()}}.jpg">
                  </div>
                  <div class = "mainStuff2">
                     <p class = "smoothies">
                        {{row[0]|replace("_", " ")}}
                     </p>
                     <p class = "cost">
                        ${{row[1]}}
                     </p>
                     <p class = "ingredients">
                        {%for i in range(row[2] | length)%}
                                       
                           {%if i != (row[2] | length) - 1 %}
                              {{(row[2][i] + ",") | replace("_", " ")}}
                           {%endif%}
                           {%if i == (row[2] | length) - 1 %}
                              {{(row[2][i]) |replace("_", " ")}}
                           {%endif%}
                           
                        {%endfor%}
                     </p>
                     <p class = "quantity">
                        <label id="{{row[0]}}label" for="{{row[0]}}"></label>
                        <!-- <input type="text" id="name" aria-labelledby="name-label"> -->
                        <input type="text" id="{{row[0]}}" name="{{row[0]}}" placeholder="0" aria-labelledby="{{row[0]}}label">
                     </p>
                     
                  </div>
                  
               </div>
            {%endfor%}
            <input class = "customerSubmit" title = "submit smoothie order for customer" aria-label = "submit smoothie order for customer" type="submit" value="Submit" style = "background-color: #7e0715;;
               padding: 1%;
               color: White;
               border: none;
               font-size: large;
               border-radius: 10px;
               cursor: pointer;
               position:absolute;
               right: 20px;
               top: 75px;
               ">
         </div>
      </form>

      <!-- <table>
         <thead>
            <tr>
               <th class = "smoothieName">Name of Smoothie</th>
               <th class = "smoothieCost">Cost</th>
               <th class = "smoothieIngredients">Ingredients</th>
               
            </tr>
         </thead>    
         <tbody class = "mainStuff">
            <form method="post" action="/orderviewcustomer">
               {% for row in data %}
                  <tr>
                     <td class = "smoothies">
                        {{row[0]|replace("_", " ")}}
                     </td> 
                     <td class = "cost">
                        {{row[1]}}
                     </td>  
                     <td class = "ingredients">
                        {%for i in range(row[2] | length)%}
                           
                           {%if i != (row[2] | length) - 1 %}
                              {{(row[2][i] + ",") | replace("_", " ")}}
                           {%endif%}
                           {%if i == (row[2] | length) - 1 %}
                              {{(row[2][i]) |replace("_", " ")}}
                           {%endif%}
                           
                        {%endfor%}
                     </td>
                     <td class = "quantity">
                        <input type="text" id="{{row[0]}}" name="{{row[0]}}" placeholder="0">
                     </td>
                  </tr>
               {% endfor %}
               <input type="submit" value="Submit" style = "background-color: white;
               padding: 0.5%;
               color: red;
               border: none;
               font-size: large;
               border-radius: 10px;
               cursor: pointer;
               position:absolute;
               right: 100px;
               ">
            </form>
         </tbody>
      </table>  -->
      <div class = "return_home"><a href="{{ url_for('home')}}" title = "back to home page button from customer" aria-label = "back to home page button from customer"><button aria-label = "go to home page from customer page" class = "customer_home" type = "submit" style ="background-color: #7e0715;;
         padding: 1%;
         color: white;
         border: none;
         font-size: large;
         border-radius: 10px;
         cursor: pointer;
         position:absolute;
         right: 120px;
         top: 75px;
         ">
         Return Home
      </button></a></div>

   </body>
</html>