<!DOCTYPE html>
<html lang="en-US">
   <head>
      <title>Manager View</title>
      <link rel="stylesheet" href="/static/styles/manager.css" title = "link to manager stylesheet for manager home page" aria-label = "link to manager stylesheet for manager home page">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" title="script to restock" aria-label="script to restock"></script>
      <script>
         function callRestockFunction() {
            $.ajax({
               url: '/restockAll', type: 'POST',
               success: function(response) {
                  console.log(response);
               },
               error: function(jqXHR, textStatus, errorThrown) {
                  console.log(textStatus, errorThrown);
               }
           });
         }
      </script>
   </head>
   <body>
      <!-- translation -->
      <div id="google_translate_element"></div>

      <script type="text/javascript" title="google translate styling for manager home page" aria-label="google translate styling for manager home page">
      function googleTranslateElementInit() {
         new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
      </script>
      
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" title="google translate for manager" aria-label="google translate for manager"></script>

      <div class="section">
        <div class="logout-container">
            <button id="logout-button" title = "logout of manager page" aria-label = "logout of manager page"  onclick="window.location.href='{{ url_for('home')}}'">LOGOUT</button>
        </div>
        <!-- manager-only actions -->
        <div class="manager-actions">
            <button onclick="window.location.href='{{ url_for('inventoryPage')}}'" title = "view inventory" aria-label = "view inventory">View Inventory</button>
            <button onclick="window.location.href='{{ url_for('menuItemPage')}}'" title = "view menu items" aria-label = "view menu items">View Menu Items</button>
            <button onclick="window.location.href='{{ url_for('newIngredientPage')}}'" title = "add a new inventory item" aria-label = "add a new inventory item">Add New Inventory Item</button>
            <button onclick="window.location.href='{{ url_for('newSmoothiePage')}}'" title = "add a new menu item" aria-label = "add a new menu item">Add New Menu Item</button>
            <button onclick="callRestockFunction()" title = "restock all ingredients to 500" aria-label = "restock all ingredients to 500">Restock All</button> <!-- call python function -->
            
            <button onclick="window.location.href='{{ url_for('manager_to_x')}}'" title= "generate x report" aria-label= "generate x report">X Report</button>
            <button onclick="window.location.href='{{ url_for('manager_to_z')}}'" title = "generate z report" aria-label = "generate z report">Z Report</button>
            <button onclick="window.location.href='{{ url_for('excessReportPage')}}'" title = "generate excess report" aria-label = "generate excess report">Excess Report</button>
            <button onclick="window.location.href='{{ url_for('salesReportPage')}}'" title = "generate sales report" aria-label = "generate sales report">Sales Report</button> 
            <button onclick="window.location.href='{{ url_for('restockReport')}}'" title = "generate restock report" aria-label = "generate restock report">Restock Report</button>
        </div>
        </div>
   </body>
</html>