@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Ubuntu:wght@700&display=swap');

.b{
    background-color: #e11c26;
}

.serverSubmit{
    font-family: "Ubuntu";
}

.server_home{
    font-family: "Ubuntu";
}

.MenuItems{
    color:  #7e0715;
    font-family: "Ubuntu";
    font-size: 45px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 700;
    margin-left: -10px;
    margin-right: -8px;
}

.smoothieName{
    text-align: left;
    color:white;
    font-family: "Ubuntu";
    text-decoration: underline;
}

.smoothieCost{
    color: white;
    font-family: "Ubuntu";
    text-align: left;
    padding-left: 30px;
    text-decoration: underline;
}

.smoothieIngredients{
    color: white;
    font-family: "Ubuntu";
    text-align: left;
    padding-left: 30px;
    text-decoration: underline;
}

.smoothieQuantity{
    color: white;
    font-family: "Ubuntu";
    text-align: left;
    padding-left: 20px;
    text-decoration: underline;
}

.smoothies{
    color: white;
    font-family: "Ubuntu";
    font-size: 14px;
}

.cost{
    color: white;
    font-family: "Ubuntu";
    font-size: 14px;
    padding-left: 30px;
}

.ingredients{
    color: white;
    font-family: "Ubuntu";
    font-size: 14px;
    padding-left: 30px;
}

.quantity{
    padding-left: 20px;
}

.pic_logo{
    height: 80px;
    width: auto;
    position:absolute;
    top:60px;
}